<a href="https://colab.research.google.com/github/Thealansan/Holamundo/blob/main/1_Extracci%C3%B3n_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Importamos l√≠brerias requeridas
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import io

In [ ]:
#Cargra archivo vsc desde equipo 
from google.colab import files
files.upload()

In [ ]:
#Convertir en dataframe 
df= pd.read_csv("file.csv")
df

In [ ]:
#Imprimimos las primeas filas o registros del Dataframe 
df.head(5)

In [ ]:
#Filtro por objeto 
filtro1=df[df["Entidad_Federativa"]== "Baja California"]
filtro1

In [ ]:
#Filtro por filas 
filtro2= df.iloc[0:99,: ]
#filtro2=df.iloc[[1000,2000,3000], : ] #filas no consecutivas
filtro2

In [ ]:
#Filtros por columnas 
#filtro3=df.iloc[: , 4:6]
filtro3=df.iloc[:, [1,4,6]] #columnas no consecutivas 
filtro3

In [ ]:
#Filtro por columnas y por filas
filtro_mix=df.iloc[ [10,20,50], 2:5]
#filtro3=df.iloc[: , [1,4.6]] #columnas no consecutivas
filtro_mix

In [35]:
#Filtro de filas vs columnas 
#Paso 1: Leemos el contenido del archivo 
from google.colab import files 
uploaded=files.upload()
df= pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2)
df

Saving file.csv to file (6).csv

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [37]:
#Paso 2 Aplicamos Filtro de filas vs columnas 
filtro4=df.loc[["Puebla","Durango"],["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4

                   Poblacion_ocupada_en_la_industria_manufacturera
Entidad_Federativa
Puebla                                                      230487
Puebla                                                      188720
Puebla                                                      236459
Puebla                                                      190831
Puebla                                                      233484
...                                                            ...
Durango                                                      53354
Durango                                                      82494
Durango                                                      57450
Durango                                                      79715
Durango                                                      55750

[276 rows x 1 columns]

In [38]:
#Filtro por cabecera
filtro5=df.head()
filtro5

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000

In [43]:
#Filtro de comparacion 
filtro6=df[df["Periodo"] >2010]
filtro6

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2011,1,Hombres,4496335,28934497,15.539703350000000000000
Nacional,2011,1,Mujeres,2560236,17071318,14.997295460000000000000
Aguascalientes,2011,1,Hombres,69338,279436,24.813553010000000000000
Aguascalientes,2011,1,Mujeres,29135,176387,16.51765720000000000000
Baja California,2011,1,Hombres,140358,838148,16.746207110000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [53]:
#Filtro Y 
filtro7=df[(df["Periodo"] == 2015) & (df["Sexo"]== "Hombres") & (df["Trimestre"] == 1)]
filtro7

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2015,1,Hombres,5078477,31009993,16.37690470000000000000
Aguascalientes,2015,1,Hombres,81720,316943,25.783816020000000000000
Baja California,2015,1,Hombres,230590,928565,24.832941150000000000000
Baja California Sur,2015,1,Hombres,15397,218914,7.0333555640000000000000
Campeche,2015,1,Hombres,17259,252305,6.8405303110000000000000
Coahuila,2015,1,Hombres,247312,771491,32.056368770000000000000
Colima,2015,1,Hombres,16476,195312,8.4357335950000000000000
Chiapas,2015,1,Hombres,69264,1317548,5.2570380740000000000000
Chihuahua,2015,1,Hombres,286017,997203,28.681923340000000000000
Ciudad de M xico,2015,1,Hombres,283575,2234662,12.689838550000000000000
Durango,2015,1,Hombres,74903,438667,17.0751390000000000000
Guanajuato,2015,1,Hombres,383476,1409791,27.200911340000000000000
Guerrero,2015,1,Hombres,47506,843468,5.6322231550000000000000
Hidalgo,2015,1,Hombres,104488,728543,14.342049820000000000000
Jalisco,2015,1,Hombres,401672,2046683,19.625511130000000000000
M xico,2015,1,Hombres,813517,4383174,18.559997850000000000000
Michoac n,2015,1,Hombres,146525,1191688,12.295584080000000000000
Morelos,2015,1,Hombres,60866,470751,12.929552990000000000000
Nayarit,2015,1,Hombres,23408,332806,7.033527040000000000000
Nuevo Le n,2015,1,Hombres,400513,1393774,28.735863920000000000000
Oaxaca,2015,1,Hombres,71961,955453,7.531610660000000000000
Puebla,2015,1,Hombres,213571,1549409,13.784029910000000000000
Quer taro,2015,1,Hombres,108615,479019,22.674465940000000000000
Quintana Roo,2015,1,Hombres,25058,448691,5.5846896860000000000000
San Luis Potos,2015,1,Hombres,124177,700285,17.732351830000000000000
Sinaloa,2015,1,Hombres,76703,808185,9.4907725340000000000000
Sonora,2015,1,Hombres,129306,782041,16.534427220000000000000
Tabasco,2015,1,Hombres,43057,579789,7.4263223350000000000000
Tamaulipas,2015,1,Hombres,186941,889648,21.012917470000000000000
Tlaxcala,2015,1,Hombres,72247,319590,22.606151630000000000000
Veracruz,2015,1,Hombres,195480,2069938,9.4437611170000000000000
Yucat n,2015,1,Hombres,85702,591782,14.48202210000000000000
Zacatecas,2015,1,Hombres,41175,363875,11.315699070000000000000